<form method="POST" action="/new">
  <h3>New Message Form</h3>
  <label>Author:<input type="text" name="author" /></label>
  <label>Message:<input type="text" name="message" /></label>
  <button type="submit">Submit</button>
</form>
