<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <% rawMessages.map((message) => { %>
    <h3><%= message.username %></h3>
    <p><%= message.message_text %></p>
    <p><%= message.added_date %></p>
    <a href="/<%= message.id%>">Open</a>
    <hr />
    <% }) %>
    <button onClick="location.href='/new'">New Message</button>
  </body>
</html>
