<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <% messages.map((message, index) => { %>
    <h3><%= message.user %></h3>
    <p><%= message.text %></p>
    <p><%= message.added %></p>
    <a href="/<%= index%>">Open</a>
    <hr />
    <% }) %>
    <button onClick="location.href='/new'">New Message</button>
  </body>
</html>
