<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Selected Message</h1>
    <h3><%= selectedMessage.username %></h3>
    <p><%= selectedMessage.message_text %></p>
    <p><%= selectedMessage.added_date %></p>
  </body>
</html>
